# mac OS file
.DS_Store

# opensim logs
**/opensim.log

# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

# QtCreator
*.autosave
CMakeLists.txt.user

# Visual Studio
.vs/
CMakeSettings.json
out/

# Visual Studio Code user directory
.vscode/

# artifacts from build scripts
osim-build/
osim-dependencies-build/
install/

# python
**/__pycache__/
